{% extends "SiteBaseGrid.html" %}

{% block big %} About Grey(Area) {% endblock %}
{% block big_ex %} The idea, the journey, the everlasting dream. {% endblock %}

{% block b_head %} Read if you would like to learn more about Grey! {% endblock %}

{% block grid %}
<!--General overview of this website, add email form-->
<div class="row">
    <div class="col-12">
        <p>
            This site was created by Grey Liedtke. A mechanical engineer with a passion for learning, building,
            and creating. I began this passion project with a desire to learn Thai. Little did I know, I would end up learning
            computer languages symbiotically. My motive for creating this website was to learn something new, while learning
            something new. The qwhiz method doesn't have all the big whig features as other flash card sites.
            While other sites may not have the simplicity, performance measures, and creativity as this one.
            I have gained enough satisfaction creating this website, but it also means a lot to know my hard work may be
            useful to others. I appreciate any feedback, suggestions, and bugs you may find while using this site.
            Don't hesitate to contact me below!
        </p>
    </div>
</div>

<!--The fruition of this website-->
<div class="row">
    <div class="col-12">
        <p>
            As I mentioned, this project started as tool to help me learn Thai. Thai is a tonal language, so
            the same words can have different meanings depending on the inflections. Thai is also a very
            difficult language to read, with over xx letters and xx vowels. I decided to pursue this language
            with the intention of speaking it, daunted by the idea of reading or writing it. As my loosely
            translated word list grew in excel, I started organizing the words by categories. As the categories
            grew, I added a group classification. And what do you know, the sheet continued to grow. I created
            a pivot table to help organize and test myself, but I decided it was time that I grow!
        </p>
    </div>
</div>

<!--The GUI-->
<div class="row">
    <div class="col-12">
        <p>
            Rather than creating a quizlet set. I wanted to measure my own performance on how well I knew these
            words. Some words I knew better than others, while other words never stuck. This is when I thought
            of characterizing the "knowledge" of a word based off the stats. As a noob programmer, I created
            a multiple choice testing suite through the terminal. This is when it clicked how power full
            programming languages are. Just how an engineer can turn a design into a product, a programmer can
            transform an idea into an application. I then set out to create a GUI (graphical user interface) for
            this testing suite. This allowed me to modify the dataset, test myself, record my stats, and add
            other users.
        </p>
    </div>
</div>

<!--The Website-->
<div class="row">
    <div class="col-12">
        <p>
            After sinking this much time into a project, I could not let the final form be a desktop
            application. A good idea is difficult to find, but a great idea is impossible to let go. This overhaul
            would teach me all aspects of web development. From front end, to back end, working with databases,
            managing users, and web scripting languages. And here you are. This project has wasted a lot of my
            time, I have traversed rabbit holes, and I constantly find better ways to do something the second I
            think I'm done. But that is life. You do all you can and you pour your effort into what you care about.
            There is always something better, there is always something you could have done, and there is always a
            chance to improve.
        </p>
    </div>
</div>


{% endblock %}
